<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duped Ya!</title>
</head>
<body>
    <h1>Duped Ya!</h1>
    
    <h3>Becasuse why pay an arm and leg for makeup?</h3>
    
        <a href="/dupe/new">Add a new dupe</a>

         <a href="/complextion/show">Complextion</a>
         
         <a href="/views/eyes/show.ejs">Eyes</a>
         
         <a href="lips/show">Lips</a>
        

</body>
</html>