<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duped Ya!</title>
</head>
<body>
    <h1>Duped Ya!</h1>
    
    <h3>Becasuse why pay an arm and leg for makeup?</h3>

    
                <a href="../models/complextionSeed.js ._id %> "><%= products.name %> </a>
                <a href="../models/complextionSeed.js ._id %> "><%= products.name %> </a>
                <a href="../models/complextionSeed.js ._id %> "><%= products.name %> </a>
       
</body>
</html>