<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- import css file -->
</head>
<body>
    <% product.forEach(product=> { %>
        <li>
            <%= product.name%>
        </li>
        <a href="/dupe/<%=product._id; %>"></a>

        <form style="display:inline; margin-left:16px;" action="/store/<%= product.id %>?_method=DELETE"
            method="POST">
            <input type="submit" value="DELETE" />
        </form>
        <a href="/dupe/<%=product._id %>/edit">Edit</a>
        </li>
        
        <% }) %>
</body>
</html>