<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <section>
        <h2>Author Attributes:</h2>
        <ul>
            <li>Name: <%= product.name %></li>
        </ul> 
                <form action="/dupe/<%= author._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
        </form>
        <a href="/dupe/<%= product._id %>/edit">Edit</a>
    </section>
</body>
</html>